c-rest-framework
vcpkg
# Build directories
build/
build-*/
build_*/
out/
bin/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn
.vs/

# Artifacts
*.o
*.obj
*.so
*.dll
*.dylib
*.a
*.lib
*.exe
*.pdb
*.ilk
*.exp

# Fetch/Vendor dependencies
emsdk/
patch_*/

# Vcpkg
vcpkg_installed/

# Test artifacts
Testing/
test_fetch.c
fetch.h

# Temporary and scratch files
*.patch
dummy.*
*_tmp.*
*_tmp/
test.cmd
gdb_script.txt

